* {
  box-sizing: border-box;
  line-height: 1;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*reveal*/

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.container {
  max-width: 930px;
  margin: 0 auto;
  padding: 0 15px;
}

.header .container {
  margin-top: 10px;
}

.header li a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #828282;
}

.header li:hover a {
  color: #000000;
}

/*BURGER*/

header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: .3s ease-out;
}

.header nav button {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.header nav button::before {
  content: '\f0c9';
  font-size: 30px;
  font-family: 'Font Awesome 6 Free';
  font-weight: 700;
}

.header nav ul {
  position: relative;
  display: none;
  transition: .3s ease-out;
}

.header--active nav {
  position: relative;
  min-height: calc(100vh - 23px);
}

.header--active nav ul {
  display: flex;
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 25px;
}

.header--active nav button {
  position: absolute;
  top: 0;
}

.header--active nav button::before {
  content: '\f00d';
  font-size: 30px;
  font-family: 'Font Awesome 6 Free';
  font-weight: 700;
}

.header nav li {
  display: flex;
}

.header nav li:not(:last-child) {
  margin-right: 0;
  margin-bottom: 20px;
}

.header nav li a {
  width: 100%;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
}


/*BURGER*/


/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.intro .container h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}

.intro .container img {
  width: 100%;
  max-height: 387px;
  height: auto;
  -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.intro .intro_upbtn {
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 45px;
  height: 45px;
  background-color: #e5e5e58e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: transparent;
  transition: .3s ease-in;
}

.intro .intro_upbtn:hover {
  background-color: #e5e5e5;
}


.about {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #F6F6F6;
}

.about .container h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 46px;
  text-align: center;
  margin-bottom: 15px;
}

.about .container p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.about .container .p2, .p3 {
  margin-top: 5px;
}

.skills h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 15px;
}

.skills .container p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 20px;
  text-align: center;
}

.skills .container img {
  width: 40px;
  height: 40px;
}

.skills .container img:hover {
  -webkit-animation: jello-horizontal 0.9s both;
	animation: jello-horizontal 0.9s both;
}

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}


.icon {
  width: 12px;
  height: 10px;
  transition: .3s ease-out;
}

.icon:hover {
  transform: rotate(45deg);
}

.skills .main-list {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main-list li {
  display: flex;
  width: calc(100% / 2);
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.stars-list {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 15px;
}

.main-list span {
  margin-top: 5px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 7px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #828282;
}

.stars-list svg {
  fill: #e5e5e5;
}

.stars-list .active svg {
fill: #000000;
}

.portfolio {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #F6F6F6;
}


.portfolio .title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.portfolio .container li:first-child {
  margin-top: 25px;
}

.portfolio li {
  text-align: center;
}

.portfolio .container li a {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  color: #000000;
}

.portfolio li img {
  width: 100%;
  max-height: 540px;
  max-width: 936px;
  height: auto;
  border-radius: 5%;
}


.portfolio .container li img {
  margin-bottom: 20px;
}

.portfolio .img {
  margin-top: 30px;
}

.contacts .container {
  margin-top: 50px;
}

.contacts .title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 46px;
  text-align: center;
}

.contacts .container .answer {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  margin-top: 0px;
}

.contacts .container .button {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  background: #070707;
  border-radius: 22px;
  width: 120px;
  min-height: 30px; 
  margin-left: auto;
  margin-right: auto;
}

.contacts .container .button:hover {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
	animation: vibrate-1 0.3s linear infinite both;
}

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
 @-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.contacts .button a {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.1em;
  color: #fff;
  text-decoration: none;
}


.contacts .container ul {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.icon-contacts {
  width: 20px;
  height: 20px;
}

.contacts .social {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 7px;
  line-height: 9px;
  text-align: center;
  color: #828282;
  margin-top: 30px;
  margin-bottom: 50px;
}


@media only screen and (min-width: 930px) {

  .container {
    min-width: 930px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .header .container {
    margin-top: 0;
  }

  .header .container .navigation-links {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .navigation-links a {
    text-decoration: none;
  }

  .header .navigation {
    display: block;
  }

  .header nav li:not(:last-child) {
    margin-bottom: 0;
  }

  .navigation-links__item {
    position: relative;
  }
  
  .navigation-links__item::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2%;
    background-color: #000000;
    transition: .3s ease-out;
  }

  .navigation-links__item:hover::after {
    width: 100%;
  }


  .header__button {
    display: none;
  }

  .header li a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #828282;
  }

  .intro {
    padding-bottom: 50px;
  }

  .intro .container h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    margin-top: 37px;
  }

  .intro .container img {
    max-width: 943px;
    height: 387px;
    margin-top: 50px;
    border-radius: 15px;
    transition: .3s ease-out;
    perspective: 500px;	
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .intro .container img:hover {
    animation: kenburns-top 5s ease-out both;
  }


/**/
  @-webkit-keyframes kenburns-top {
  0% {
  -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
  -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
  }
  100% {
  -webkit-transform: scale(1.1) translateY(-15px);
        transform: scale(1.1) translateY(-15px);
  -webkit-transform-origin: top;
        transform-origin: top;
  }
  }
  @keyframes kenburns-top {
  0% {
  -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
  -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
  }
  100% {
  -webkit-transform: scale(1.1) translateY(-15px);
        transform: scale(1.1) translateY(-15px);
  -webkit-transform-origin: top;
        transform-origin: top;
  }
  }

  /**/

  .about .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .about .container h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
  }
  
  .about .container p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }

  .about .container .p2, .p3 {
    margin-top: 30px;
  }

  .skills h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    margin-top: 100px;
  }
  
  .skills .container p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .skills .container img {
    width: 80px;
    height: 80px;
  }
  
  .icon {
    width: 22px;
    height: 20px;
  }

  .skills .main-list {
    margin-top: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 97px;
  }
  
  .main-list li {
    display: flex;
    width: calc(100% / 2);
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .stars-list {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 100px;
  }

  .main-list span {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.02em;
    margin-top: 20px;
  }

  .portfolio {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .portfolio .title {
    font-size: 34px;
    line-height: 46px;
  }

  .portfolio .container li:first-child {
    margin-top: 50px;
  }

  .portfolio ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portfolio ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portfolio li img {
    width: 970px;
    min-height: 540px;
    transition: .3s ease-out;
    opacity: 0.8;
  }

  .portfolio li img:hover {
    opacity: 1;
  }
  
  .portfolio .container li a {
    font-size: 18px;
    line-height: 25px;
    transition: .3s ease-out;
  }

  .portfolio .container li:hover a {
    color: #aeaeae;
    transform: translateY(-2px);
  }

  .portfolio .container li img {
    margin-bottom: 40px;
  }
  
  .portfolio .img {
    margin-top: 70px;
  }
  
  .contacts .container {
    margin-top: 100px;
  }

  .contacts .title {
    font-size: 34px;
    line-height: 46px;
  }
  
  .contacts .container .answer {
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
  }
  
  .contacts .container .button {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    background: #070707;
    border: 1px solid transparent;
    border-radius: 22px;
    width: 180px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    transition: .3s ease-out;
  }

  .contacts .container .button:hover {
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
   
  }
  .contacts .button:hover a {
    color: #070707;
  }

  .contacts .button a {
    font-size: 18px;
    line-height: 25px;
  }

  .icon-contacts {
    transition: .3s ease-in;
    perspective: 500;
  }

  .icon-contacts:hover {
    scale: 1.1;
    transform: translateY(-5px);
  }
  
  .contacts .container ul {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  
  .icon-contacts {
    width: 40px;
    height: 40px;
  }
  
  .contacts .social {
    font-size: 14px;
    line-height: 19px;
    margin-top: 60px;
    margin-bottom: 100px;
  }

}



